


#portfolio .portfolio-item {
    max-width: 26rem;
    margin-left: auto;
    margin-right: auto;
  }
  #portfolio .portfolio-item .portfolio-link {
    position: relative;
    display: block;
    margin: 0 auto;
  }
  
  #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    font-size: 1.25rem;
    color: white;
  }
  #portfolio .portfolio-item .portfolio-link:hover .portfolio-hover {
    opacity: 1;
  }
  #portfolio .portfolio-item .portfolio-caption {
    padding: 1.5rem;
    text-align: center;
    background-color: #fff;
  }
  #portfolio .portfolio-item .portfolio-caption .portfolio-caption-heading {
    font-size: 1.5rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    margin-bottom: 0;
  }
  #portfolio .portfolio-item .portfolio-caption .portfolio-caption-subheading {
    font-style: italic;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  
  .portfolio-modal .modal-dialog {
    margin: 1rem;
    max-width: 100vw;
  }
  .portfolio-modal .modal-content {
    padding-top: 6rem;
    padding-bottom: 6rem;
    text-align: center;
  }
  .portfolio-modal .modal-content h2, .portfolio-modal .modal-content .h2 {
    font-size: 3rem;
    line-height: 3rem;
  }
  .portfolio-modal .modal-content p.item-intro {
    font-style: italic;
    margin-bottom: 2rem;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  .portfolio-modal .modal-content p {
    margin-bottom: 2rem;
  }
  .portfolio-modal .modal-content ul.list-inline {
    margin-bottom: 2rem;
  }
  .portfolio-modal .modal-content img {
    margin-bottom: 2rem;
  }
  .portfolio-modal .close-modal {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    background-color: transparent;
  }
  .portfolio-modal .close-modal:hover {
    opacity: 0.3;
  }
  


.footer {
  text-align: center;
  font-size: 0.9rem;
	
  font-family: "Ubuntu", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

    .banner-bg {
        position: relative;
        width: 100%;
        height: 30vh; /* adjust this value as per your needs */
        overflow: hidden;
    }

    .banner-bg img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .overlay-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #FF7900;
        font-size: 6rem;
        text-shadow: 4px 4px 6px rgba(0,0,0,0.5);
    }

.container2 {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    padding: 20px;
}

.container2 .form-control {
    border-radius: 0;
    box-shadow: none;
    border-color: #ddd;
}

.container2 .form-control:focus {
    border-color: #5cb85c;
    box-shadow: 0 0 8px rgba(92, 184, 92, 0.6);
}

.container2 .btn {
    border-radius: 0;
    box-shadow: none;
    border: none;
}

.container2 .btn:focus, .container .btn:active {
    box-shadow: none;
}

.container2 .btn-primary {
    background: #5cb85c;
    border: none;
    margin-top: 20px;
}

.container2 .btn-primary:hover {
    background: #4cae4c;
}

.container2 .btn-secondary {
    background: #f0ad4e;
    border: none;
    margin-top: 20px;
}

.container2 .btn-secondary:hover {
    background: #ec971f;
}

.deadline-banner {
    text-align: center; /* To center the text */
    font-size: 1.5em; /* Increase the font size */
}

.portfolio-item img {
    width: 100%; /* this will make the image take the full width of its parent div */
    height: 300px; /* adjust this based on what height you want */
    object-fit: cover; /* this will ensure the image covers the full div without distorting */
}


.close-modal {
    padding: 1rem;
}

.close-modal:hover {
    color: red;
}



.jumbotron-image {
    position: relative;
    background-image: url("../images/activities.png");
    background-size: cover;
    background-position: center;
    color: #ffffff; /* This changes the text color to white */
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6); /* This adds a semi-transparent black background */
}

.content {
    position: relative;
    z-index: 1;
}


.jumbotron-image h1, .jumbotron-image p {
   
    padding: 10px; /* This adds some space around the text */
}

.card {
    border-radius: 15px;
    box-shadow: 0px 6px 10px rgba(0,0,0,0.25);
    transition: all 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 10px rgba(0,0,0,0.5);
}

.card-title {
    color: #00244E; /*Change this to your preferred color*/
    font-family: 'Helvetica Neue', sans-serif; /*Change this to your preferred font*/
}

.card-text {
    color: #333;
    font-family: 'Helvetica Neue', sans-serif; /*Change this to your preferred font*/
}

.btn-primary {
    background-color: #0056b3; /*Change this to your preferred color*/
    border: none;
}

.btn-primary:hover {
    background-color: #FF7900; /*Change this to your preferred darker color for hover effect*/
}

.card-img-top {
    height: 200px; /*Set this to the preferred height*/
    object-fit: cover; /*This will ensure the aspect ratio of images is preserved as they're resized*/
}

@media (max-width: 768px) {
  .portfolio-item {
    width: 100%;
    margin-bottom: 30px;
  }
}

/* Default styles for entire webpage */
body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #ECEFF4;
    color: #3B4252;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700; /* Bold */
}


/* Add margin to the bottom of the buttons */
.btn.mb-2 {
    margin-bottom: 10px; /* Adjust this value as needed */
}

/* Style for the portfolio item container */
.portfolio-item {
    position: relative; /* Set the position to relative so that the child elements can be positioned absolutely with respect to this container */
    overflow: hidden; /* Hide any overflowing content */
}

/* Style for the hover content */
.portfolio-hover {
    position: absolute; /* Position it absolutely */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0; /* Initially set the opacity to 0 so that it's invisible */
    transition: opacity 0.3s; /* Add a transition for a smooth fade-in effect */
    background: rgba(0, 0, 0, 0.6); /* Optional: Add a semi-transparent black background for better visibility of the icon */
}

/* Style for the icon */
.portfolio-hover-content {
    position: absolute;
    top: 50%; /* Center the icon vertically */
    left: 50%; /* Center the icon horizontally */
    transform: translate(-50%, -50%); /* Ensure the icon is perfectly centered */
}

/* Show the hover content when the portfolio item is hovered */
.portfolio-item:hover .portfolio-hover {
    opacity: 1; /* Set the opacity to 1 to make it visible */
}



